#poke-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poke-list-container button{
    width: 300px;
    margin-top: 5px;
}

#poke-list-container input{
    width: 300px;
    margin-top: 5px;
}



