files:
  "/var/app/current/.platform/hooks/postdeploy/01_log_status.sh":
    mode: "000755"
    owner: root
    group: root

files:
  "/var/app/current/.platform/hooks/postdeploy/03_flask_start.sh":
    mode: "000755"
    owner: root
    group: root

files:
  "/var/app/current/.platform/hooks/postdeploy/04_nginx_start.sh":
    mode: "000755"
    owner: root
    group: root