files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/03_flask_start.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "This actually ran $(date)" >> /var/log/out.log
      cd /var/app/current/backend
      export PYTHONPATH=$PYTHONPATH:/var/app/current/backend/dependencies
      python3 run.py

container_commands:
  01_reload_nginx:
    command: sudo service nginx reload