files:
  "/etc/nginx/conf.d/proxy.conf":
    content: |
      location / {
        alias /var/app/current/frontend/build/;
        try_files $uri $uri/ /index.html;
      }

      location /pokemons {
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header Host $host;
      }

      location ~ /pokemon/ {
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header Host $host;
      }